@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

/* General checkbox styles */
input[type="checkbox"] {
  padding: 10px;
  width: 20px; /* Increase checkbox size */
  height: 20px; /* Increase checkbox size */
  appearance: none; /* Remove default styling */
  border: 2px solid #ccc; /* Default border */
  border-radius: 6px; /* Optional: round corners */
  cursor: pointer;
  outline: none;
  position: relative;
}

/* Style for when the checkbox is checked */
input[type="checkbox"]:checked {
  background-color: #FA8507; /* Orange background */
  border-color: #FA8507; /* Match border color with background */
}

input[type="checkbox"]:checked::after {
  content: ""; /* Remove checkmark text */
  background-image: url("../../public/checkbox.svg"); /* Path to your SVG icon */
  background-size: 16px 16px; /* Adjust icon size */
  background-repeat: no-repeat;
  background-position: center;
  width: 12px; /* Adjust icon size */
  height: 12px; /* Adjust icon size */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add spacing between the checkbox and the label text */
input[type="checkbox"] + span {
  margin-left: 8px;
}

/* General radio button styles */
input[type="radio"] {
  appearance: none; /* Remove default browser styles */
  width: 20px; /* Size of the radio button */
  height: 27px;
  border: 2px solid #ccc; /* Default border */
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
  outline: none;
  display: inline-block;
  position: relative;
}

/* Default state */
input[type="radio"] {
  background-color: white; /* Default background */
}

/* When the radio button is checked */
input[type="radio"]:checked {
  background-color: #FA8507; /* Change to your desired color */
  border-color: #FA8507; /* Match border to background */
}

/* Add an inner dot when checked */
input[type="radio"]:checked::after {
  content: "";
  width: 10px; /* Adjust size of the inner dot */
  height: 10px;
  background-color: white; /* Color of the inner dot */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:6px solid;
  border-color:#E4E4ED;
  border-right-color: #FA8507;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}
